@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body {
  background-image:url('./img/paper.jpg');
  background-repeat:repeat-y;
  margin: 0;
  font-family: 'Coming Soon', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
